.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.drop_list
{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #000000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.body_index {
 
   
  background: linear-gradient(90deg, rgb(203, 204, 203) 0%, rgb(43, 44, 43) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #ecfcf6;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.55em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}


.main-nav a {
	color: #e0e0e0;
	font-size: .99em;
}

.main-nav a:hover {
	color: #a3c3eb;
}

.title_nav
{
  margin-left: 10%;
}


.header {
  margin:0;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #919191;
	background-color: #272727;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    }
    .header{
		width: 100%;
		margin: 0 auto;
		max-width: 1850px;
    
	}
	

}
#head_nav
{
  width: auto;
  margin: 0;
  height: 60px;
  content: normal;
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
    display: flex;
		justify-content: space-between;
	}

}

.person_logo
{
  background-color:  whitesmoke;
  height: 30px;
  border-radius: 50%;
}
.person_logo:hover
{
  background-color:  #69f0bc;
}

#home_img
{
  width: 100%;
  margin: 0 auto;
  max-width: 1750px;
}

.home_container {
  float: left;
  width: 50%;
  height:280px;
  margin-top: 10px;
}
.home_quote
{
  margin-top: 20px;
  float: right;
  background: linear-gradient(90deg, rgb(241, 211, 241) 0%, rgb(214, 216, 214) 50%);
  border-radius: 10%;
 /* background-color: rgb(226, 200, 200);*/
  width: 32%;
  height:550px;
  margin-right: 10%;

 	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 20px;
	-moz-border-radius: 10px;
}
.sym
{
  padding-left: 90%;
}

#center {
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.type_car
{
  margin-top: 45%;
  margin-bottom: 30%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #f0efef;
  border: 1px solid rgb(48, 48, 48);
 
  box-shadow: 0px 10px 20px 0px rgba(141, 141, 141, 0.75);
  height: 360px;
  border-radius: 5%;
}

.home_suv
{
  border-radius: 5%;
  margin: 2%;
  padding: 5%;
  float:left; 
  background:rgb(165, 160, 160);
  width:25%;
  height:280px;
}
.home_cedan
{
  border-radius: 5%;
  margin: 2%;
  float:left; 
  background:rgb(212, 255, 212);
  width:38%;
  height:280px;
}
.home_luxury
{
  border-radius: 5%;
  margin: 2%;
  float:right;
  background:rgb(211, 211, 219);
  width:25%;
  height:280px;;
}

.cars
{
  height: 500px;
  margin-top: 5%;
  border:3px solid red;
  width: auto;
}
